# PostgreSQL Connection String (Format: postgres://user:password@host:port/dbname?sslmode=disable)
DATABASE_URL=postgres://user:password@localhost:5433/ledger_db?sslmode=disable

# Redis Connection Address
REDIS_ADDR=localhost:6379

# Number of concurrent workers processing the background payment queue
WORKER_COUNT=5

# HTTP Server Port
PORT=8080